<div class="row content-top">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Admin Dasboard</h1>
                        <hr>
                        	<ul class="dasboard-items-list">
                            	<li><a href="#"><i class="fa fa-tachometer"></i>Matches board</a></li>
                                <li><a href="#/team_main"><i class="fa fa-users"></i>Teams</a></li>
                                <li><a href="#"><i class="fa fa-bolt"></i>Matches</a></li>
                                <li><a href="#"><i class="fa fa-columns"></i>Courts</a></li>
                                <li><a href="#"><i class="fa fa-bullhorn"></i>Referees</a></li>                                            
                                <li><a href="#"><i class="fa fa-file-text-o"></i>Reports</a></li>                   
                                <li><a href="#"><i class="fa fa-tv"></i>Advertisements</a></li>               
                            </ul>
                        </div>
                    </div>