                <div class="row">
                  <div class="col-lg-12">
                    <h1>Court Match Manager</h1>
                    <hr>
                    <div ng-class="appliedClasses" role="alert">
                      <button type="button" ng-click="hideMessage()" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong>{{type}}!&nbsp;</strong>{{message}}
                    </div>
                    <ul class="court-list">
                      <li ng-repeat="court in courts" ng-class="{active:court.isSelected}"><a href="javascript:void(0)" ng-click="selectCourtMatches(court.court_name)"><i class="fa fa-columns"></i>{{court.court_name}}</a></li>
                      <li></li> 
                    </ul>
                    <div class="col-md-12" style="display:block;" ng-if="courts.length>0">
                      <h3>{{selectedCourt}}</h3>
                      <p>Matches selected for today in {{selectedCourt}}:</p>
                      <br>
                      <form class="form-inline">
                        <div class="form-group">
                          <label >Search</label>
                          <input type="text" ng-model="search" class="form-control" placeholder="Search">
                        </div>
                      </form>
                      <br />
                      <table class="table table-hover table-responsive">
                        <thead>
                          <tr>
                            <th class="col-title" ng-click="sort('match_title')">Match Title
                             <span class="glyphicon sort-icon" ng-show="sortKey=='match_title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>

                             <th ng-click="sort('team_a')">Team-A <span class="glyphicon sort-icon" ng-show="sortKey=='team_a'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>

                             <th ng-click="sort('team_b')">Team-B <span class="glyphicon sort-icon" ng-show="sortKey=='team_b'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>

                             <th ng-click="sort('referee')">Referee <span class="glyphicon sort-icon" ng-show="sortKey=='referee'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>

                             <th ng-click="sort('match_date')">Date and Time <span class="glyphicon sort-icon" ng-show="sortKey=='match_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
                             <th>&nbsp;</th>

                           </tr>
                         </thead>
                         <tbody>
                          <tr dir-paginate="match in selectedCourtMatches |orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                            <td>{{match.match_title}}</td>
                            <td>{{match.team_a}}</td>
                            <td>{{match.team_b}}</td>
                            <td>{{match.referee}}</td>
                            <td>{{match.match_date}}</td>
                            <td><button class="btn btn-primary pull-right" ng-click="scheduleMatch(match.match_id,match.match_status)">Schedule Now</button></td>
                          </tr>
                        </tbody>
                      </table>
                      <dir-pagination-controls
                      max-size="5"
                      direction-links="true"
                      boundary-links="true" >
                    </dir-pagination-controls>
                  </div>
                </div>
              </div>