
    <!-- Bootstrap core CSS -->
    <link href="/ng-app/stylesheets/signin.css" rel="stylesheet" type="text/css" media="all">

    <div class="container">

      <form class="form-signin" method="POST" ng-submit="submitForm()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUserName" class="sr-only">User Name</label>
        <input type="User Name" id="inputUserName" class="form-control" placeholder="User Name" required autofocus ng-model="userName">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me" ng-model="rememberMe"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
