<!--<style type="text/css">
	#container{
		height:100px;
	}
	#clock{
		width: 300px;
		height: 100px;
		border: 1px solid #DDD;
		clear:none;
		float:left;
		font-size: 60pt;
		padding-left:20px;


	}


	button{
		height:102px;
		width:102px;
		float:left;
		font-size:2em;
	}

	table, div {
		clear:both;
		margin-bottom: 20px;
	}
	table {
		width:410px;
		border:1px solid #DDD;
	}

	th {
		padding: 5px;
		background-color: bisque;
	}

	td {
		padding: 5px;
		background-color: #EEE;
	}
</style>

<div id="container">
	<div >
		<div id="clock">{{timer}}</div>
		<button ng-click="toggleTimer()">{{mode}}</button>
	</div>

		<table>
			<thead>
				<tr><th>Start</th><th>End</th><th>Duration (secs)</th></tr>
			</thead>
			<tbody ng-repeat="item in timeSchedule.history">
				<tr>
					<td>{{item[0] | date:'MM/dd/yy HH:mm:ss'}}</td>
					<td>{{item[1] | date:'MM/dd/yy HH:mm:ss'}}</td>
					<td>{{item[2] | number:1}}</td>
				</tr>
			</tbody>
		</table>
 


		</div>-->
<style type="text/css">
	.stopWatch {
	padding: 5px;
	background: linear-gradient(top, #222, #eee);
	border: 7px solid #efefef;
	border-radius: 5px;
    display: inline-block;
    margin: 10px auto;
	
	box-shadow: 
		inset 0 -2px 10px 1px rgba(0, 0, 0, 0.75), 
		0 5px 20px -10px rgba(0, 0, 0, 1);
}
.numbers {
    font-size: 30px;
	line-height: 40px;
	font-family: digital, arial, verdana;
	color: black;
}


.container {
	padding: 5px;
	text-align: center;
}
</style>

 <div ng-repeat="options in stopwatches">
        <div bb-stopwatch options="options">
            <div class="container">
              <div class="stopWatch numbers">
                {{options.elapsedTime | stopwatchTime}}
               </div>
              <button class="btn" ng-click="startTimer()">Start</button>
              <button class="btn" ng-click="stopTimer()">Stop</button>
              <button class="btn" ng-click="resetTimer()">Reset</button>
            </div>
        </div>
        <div class="log" ng-repeat="log in options.log">
            {{log/60000}} minutes
        </div>
    </div>
</div>