                <div class="row">
                  <div class="col-lg-10">
                    <h1>Add Match</h1>
                    <hr>
                    <div class="row">
                      <div ng-class="appliedClasses" role="alert">
                        <button type="button" ng-click="hideMessage()" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>{{type}}!&nbsp;</strong>{{message}}
                      </div>
                      <form name="matchForm" class="clearfix" ng-submit="submitForm(matchForm.$valid)" novalidate>
                       <div class="col-md-6">
                        <div class="form-group">
                          <label for="chooseLeftTeam">Choose Left Team</label>
                          <select class="form-control" id="chooseLeftTeam" ng-model="teamA" required>
                           <option value="">--Please Select--</option>
                           <option ng-repeat="team in matchData.teams" value="{{team.team_name}}">{{team.team_name}}</option>
                         </select>
                       </div>
                       <div class="form-group">
                        <label for="chooseMatchTitle">Match Title</label>
                        <select class="form-control" id="chooseMatchTitle" ng-model="matchTitle" required>
                         <option value="">--Please Select--</option>
                         <option ng-repeat="matchTitle in matchData.matchTitles" value="{{matchTitle.title}}">{{matchTitle.title}}</option>
                       </select>
                     </div>
                     <div class="form-group">
                      <label for="chooseMatchCourt">Choose Court</label>
                      <select class="form-control" id="chooseMatchCourt" ng-model="court" required> 
                       <option value="">--Please Select--</option>
                       <option ng-repeat="court in matchData.courts">{{court.court_name}}</option>
                     </select>
                   </div>
                   <div class="form-group">
                    <label for="chooseReferee">Match Duration</label>
                    <div class="row">
                      <div class="col-md-6">
                       <select class="form-control" id="durationTimeMinutes" ng-model="matchMinutes" required>
                        <option value="">--Choose Minutes--</option>
                        <option ng-repeat="item in timeValues" value="{{item}}">{{item}}</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                     <select class="form-control" id="durationTimeSeconds" ng-model="matchSeconds" required>
                      <option value="">--Choose Seconds--</option>
                      <option ng-repeat="item in timeValues" value="{{item}}">{{item}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="chooseReferee">Schedule Half Time</label>
                <div class="row">
                  <div class="col-md-6">
                   <select class="form-control" id="halfTimeMinutes" ng-model="halfTimeMinutes" required>
                    <option value="">--Choose Minutes--</option>
                    <option ng-repeat="item in timeValues" value="{{item}}">{{item}}</option>
                  </select>
                </div>
                <div class="col-md-6">
                 <select class="form-control" id="halfTimeSeconds" ng-model="halfTimeSeconds" required>
                   <option value="">--Choose Seconds--</option>
                  <option ng-repeat="item in timeValues" value="{{item}}">{{item}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="chooseRightTeam">Choose Right Team</label>
            <select class="form-control" id="chooseRightTeam" ng-model="teamB" required>
             <option>--Please Select--</option>
             <option ng-repeat="team in matchData.teams">{{team.team_name}}</option>
           </select>
         </div>
         <div class="form-group">
          <label for="chooseReferee">Choose Referee</label>
          <select class="form-control" id="chooseReferee" ng-model="referee" required>
           <option value="">--Please Select--</option>
           <option ng-repeat="refree in matchData.referees" value="{{refree.user_name}}">{{refree.user_name}}</option>
         </select>
       </div>
       <div class="form-group">
        <label>Choose Date and Time</label>
        <p class="input-group">
          <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="matchDateTime" is-open="isOpen" required />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="form-group">
        <label for="chooseReferee">Schedule Break Time</label>
        <div class="row">
          <div class="col-md-6">
           <select class="form-control" id="breakTimeMinutes" ng-model="breakTimeMinutes" required>
            <option value="">--Choose Minutes--</option>
            <option ng-repeat="item in timeValues" value="{{item}}">{{item}}</option>
          </select>
        </div>
        <div class="col-md-6">
         <select class="form-control" id="breakTimeSeconds" ng-model="breakTimeSeconds" required>
           <option value="">--Choose Seconds--</option>
           <option ng-repeat="item in timeValues" value="{{item}}">{{item}}</option>
         </select>
       </div>
     </div>
   </div>
 </div>
 <hr>
<hr>
<div class="grid-actions col-md-12">
 <button type="submit" class="btn btn-primary">Update Match</button>
 <button type="reset" class="btn btn-danger">Cancel</button>
</div>
</form>

</div>  
</div>
</div>