                    <div class="col-lg-12">
                        <div class="row content-top">
                        <h1>Matches Reports</h1>
                        <hr>
                        <p>View reports of matches played on a particular date from the following dropdown calendar.</p>
                        <div class="form-group col-sm-12 col-md-4">
                        	<div class="row">
                                <div class='input-group date' id='viewMatchReport'>
                                    <input type='text' class="form-control" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <h3>Reports Generated</h3>
                        <hr>
                        <div class="reports-wrapper">
                        	<div class="col-md-4">
                            	<div class="report-single">
                                    <h4>Report Title</h4>
                                    <ul>
                                        <li><label>Time: </label> <span>Tue, Feb 5th 2016, 05:08 PM</span></li>
                                        <li><label>Match Title: </label> <span>Match Title will display here</span></li>
                                        <li><label>Court: </label> <span>James Court</span></li>
                                        <li><label>Referee: </label> <span>Wilson</span></li>
                                        <li><label>Teams & Score: </label> <span><em>Vikings<strong>24</strong></em> <em>Wildcates<strong>12</strong></em></span></li>
                                        <li><label>Winning Team: </label> <span>Vikings</span></li>
                                        <li><label>Match Duration: </label> <span>60 Minutes, 23 Seconds</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                            	<div class="report-single">
                                    <h4>Report Title</h4>
                                    <ul>
                                        <li><label>Time: </label> <span>Tue, Feb 5th 2016, 05:08 PM</span></li>
                                        <li><label>Match Title: </label> <span>Match Title will display here</span></li>
                                        <li><label>Court: </label> <span>James Court</span></li>
                                        <li><label>Referee: </label> <span>Wilson</span></li>
                                        <li><label>Teams & Score: </label> <span><em>Vikings<strong>24</strong></em> <em>Wildcates<strong>12</strong></em></span></li>
                                        <li><label>Winning Team: </label> <span>Vikings</span></li>
                                        <li><label>Match Duration: </label> <span>60 Minutes, 23 Seconds</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                            	<div class="report-single">
                                    <h4>Report Title</h4>
                                    <ul>
                                        <li><label>Time: </label> <span>Tue, Feb 5th 2016, 05:08 PM</span></li>
                                        <li><label>Match Title: </label> <span>Match Title will display here</span></li>
                                        <li><label>Court: </label> <span>James Court</span></li>
                                        <li><label>Referee: </label> <span>Wilson</span></li>
                                        <li><label>Teams & Score: </label> <span><em>Vikings<strong>24</strong></em> <em>Wildcates<strong>12</strong></em></span></li>
                                        <li><label>Winning Team: </label> <span>Vikings</span></li>
                                        <li><label>Match Duration: </label> <span>60 Minutes, 23 Seconds</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
						</div>
                    </div>